body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
	display: flex;
	align-items: center;
}
html {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; 
}
body, html {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
}
#background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
}
.div-center{
	margin: 0 auto;
}
.avatar{
	border-radius:50%;
	width:150px;
	height:150px;
	border:5px solid white;
	transition: transform 2s;
}
.avatar:hover {
    transform: rotate(360deg);
}
.nick-text{
	text-align: center;
	color:white;
	font-size:2rem;
	font-weight:100;
}
